*.exe
*.lib
*.dll
*.pdb
*.vxidx
*.vsidx
*/Debug/*
*/x64/*
Kenneth.H.Rosen/Counting/.vs
Kenneth.H.Rosen/Counting/Combination/Combination.vcxproj.filters
Kenneth.H.Rosen/Counting/Combination/Combination.vcxproj.user
Kenneth.H.Rosen/Counting/Combination/Debug
Kenneth.H.Rosen/Counting/Combination/x64
Kenneth.H.Rosen/Counting/n_permutation/Debug/
Kenneth.H.Rosen/Counting/n_permutation/n_permutation.vcxproj.filters
Kenneth.H.Rosen/Counting/n_permutation/n_permutation.vcxproj.user
Kenneth.H.Rosen/Counting/testcppwebsocket/Debug/
Kenneth.H.Rosen/Counting/testcppwebsocket/testcppwebsocket.vcxproj.filters
Kenneth.H.Rosen/Counting/testcppwebsocket/testcppwebsocket.vcxproj.user
Kenneth.H.Rosen/Counting/vcpkg-configuration.json
Kenneth.H.Rosen/Counting/vcpkg.json
Kenneth.H.Rosen/Counting/vcpkg_installed/